#####################################################
# FULLSTACK PROJECT (.NET + React + Vite + TS)
#####################################################

############################
# .NET / ASP.NET Core
############################
bin/
obj/
**/bin/
**/obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

.vs/

############################
# Build
############################
[Dd]ebug/
[Rr]elease/
x64/
x86/

############################
# Logs
############################
*.log
logs/

############################
# Environment Variables
############################
.env
.env.*
*.local

############################
# Node / React / Vite
############################
node_modules/
dist/
dist-ssr/
coverage/
.vite/

############################
# VS Code
############################
.vscode/*
!.vscode/extensions.json

############################
# JetBrains
############################
.idea/
*.sln.iml

############################
# OS
############################
.DS_Store
Thumbs.db
Desktop.ini

############################
# Database
############################
*.mdf
*.ldf
*.ndf

############################
# Docker
############################
docker-compose.override.yml

############################
# Misc
############################
*.swp
*.tmp
*.cache
.history/